.Onboarding {
  width: 80%;
  margin: auto;
  margin-top: 8vh;
}
.Onboarding .branding {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}
.Onboarding img {
  max-height: 32px;
  margin-right: 8px;
}
.Onboarding .Stepper {
  margin: 16px 32% 56px;
}
.form-group-wrapper {
  position: relative;
  margin: 32px 30% 0;
}
.btn-wrapper {
  margin: 20px 30%;
}
.icon-check {
  background-color: var(--color-primary);
  border-radius: 50%;
  display: block;
  padding: 16px;
  margin: auto !important;
  margin-bottom: 32px !important;
}
.select-card-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 36px;
}

@media only screen and (max-width: 600px) {
  .Onboarding {
    width: 100%;
  }
  .Onboarding .Stepper {
    margin: 16px 15% 56px;
  }
  .form-group-wrapper {
    margin: 32px 8% 0;
  }
  .btn-wrapper {
    margin: 20px 8%;
  }
  .select-card-options {
    column-gap: 20px;
  }
}
