@import url("theme/MainTheme.css");

.title {
  color: var(--color-text-primary);
  text-align: center;
  margin-bottom: 8px;
}

.body1 {
  color: var(--color-text-secondary);
  text-align: center;
  font-weight: 500;
  margin-top: 8px;
  /* margin-top: 0; */
}
.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 16px;
}
label {
  display: block;
  color: var(--color-text-primary);
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
}
label .optional {
  color: var(--color-text-secondary);
  opacity: 0.7;
  font-weight: 400;
}
.input-group {
  display: inline-flex;
  padding: 0;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 2px solid var(--color-border-dark2);
  flex-flow: row;
  color: var(--color-text-secondary);
  font-size: 15px;
}
input {
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  flex-grow: 1;
  color: var(--color-text-secondary);
  font-size: 15px;
}
input::placeholder {
  color: var(--color-text-secondary);
  font-size: 15px;
  opacity: 0.7;
}
.input-prefix {
  padding: 12px;
  background-color: var(--color-text-white);
  border-right: 2px solid var(--color-border-dark2);
  font-weight: 500;
}

.btn {
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.5s;
}
.btn-primary {
  background-color: var(--color-primary);
  color: #f4f6f9;
}
.btn:hover {
  opacity: 0.7;
}
.invalid-input {
  border-color: var(--color-error);
}
.input-error-message {
  position: absolute;
  bottom: -8px;
  right: 0;
  color: var(--color-error);
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}
